@charset "UTF-8";
*{
    height:auto;
}
body{
    background-image: linear-gradient(to bottom , #f8f65e 80% ,#000000);
}
h1{
    font-size: 1.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#0D0D0D ;
    text-align: center;
}
h2{
    font-size:1em ;
    text-align: center;
    margin-top: -1em;
}
.cont{
    background-color: #DBDAEA;
    border-radius: 10px;
    border: 2px solid #EF8354  ;
}
a{
    text-decoration: none;
    color: white;
}
.inf a  {
    color:#EF8354 ;
    text-decoration: none;
    text-align: justify;
    border:2px solid #EF8354 ;
    border-radius: 5px;
    padding-left: 2px;
    margin-left: 5px;
}
nav li { 
    display: inline-block;
    background-color: #2D3142;
    font-size: 1.5em;
    width: 200px;
    border: 5px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav li :hover{
    color: #000000;
    background-color:  #DBDAEA;
    
} 
.inf{
    display: flex;
    border: 5px solid rgba(0, 0, 0, 0);
    align-items: flex-start;
    text-align: justify;
    font-size: 1.4em;
}
.inf > p :hover{
    background-color:#EF8354 ;
    color: aliceblue;
    
}
#rod{
    background-color: white;
    margin-top: 5px;
    width: 100%;
    height: 100%
}    
}
.od a{
    color: black;
    font-size: 1.1em;
}

